<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="../assets/WTE_logo.jpg">
  <div><button mat-raised-button color="primary" (click)="openSignUpDialog()">Sign up for an account</button>
    OR <button mat-raised-button (click)="openLoginDialog()">Sign in</button>
  </div>
  <div style="padding: 20px; font-size: 12px;"><a href="#">I don't want create a new account, get started now!</a></div>
</div>

<footer>Developed By <a href="http://chenyuegu.com/" target="_blank">Emma Gu</a></footer>
<router-outlet></router-outlet>