<div>
  <mat-card>
    <form [formGroup]="restaurantForm">
      <div><span>Add custom restaurant here:</span></div>
      <mat-form-field class="restaurantInput">
        <input matInput placeholder="Restaurant Name" formControlName="name">
      </mat-form-field>
      <mat-form-field class="restaurantInput">
        <input matInput placeholder="Restaurant Location" formControlName="location">
      </mat-form-field>
      <mat-dialog-actions>
        <button mat-raised-button [disabled]="restaurantForm.invalid" (click)="add()" color="primary">Add to
          list</button>
      </mat-dialog-actions>
    </form>
  </mat-card>
  <kendo-grid [data]="restaurantList" [kendoGridSelectBy]="'name'" [selectedKeys]="mySelection" [height]="200"
    [selectable]="{enabled: true, checkboxOnly: true }" (edit)="editHandler($event)" (cancel)="cancelHandler($event)"
    (save)="saveHandler($event)" (remove)="removeHandler($event)">
    <kendo-grid-checkbox-column showSelectAll="true" width="10" [headerStyle]="{'background-color': '#f7b2b2'}">
    </kendo-grid-checkbox-column>
    <kendo-grid-column field="name" title="Name" width="40" [headerStyle]="{'background-color': '#f7b2b2'}">
      <ng-template kendoGridEditTemplate let-column="column" let-formGroup="formGroup">
        <input #input class="k-textbox" [formControl]="formGroup.get(column.field)">
        <kendo-popup [anchor]="input" *ngIf="formGroup.get(column.field).invalid"
          popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg">
          <span class="k-icon k-i-warning"></span>
          Product name is required
        </kendo-popup>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="location" title="Location" width="40" [headerStyle]="{'background-color': '#f7b2b2'}">
    </kendo-grid-column>
    <kendo-grid-column width="20" [headerStyle]="{'background-color': '#f7b2b2'}">
      <ng-template kendoGridCellTemplate>
        <button kendoGridEditCommand mat-stroked-button style="margin-right:10px;" color="primary">Edit</button>
        <button kendoGridRemoveCommand mat-stroked-button>Remove</button>
        <button kendoGridSaveCommand mat-stroked-button style="margin-right:10px;" color="primary"
          [disabled]="formGroup?.invalid">Save</button>
        <button kendoGridCancelCommand mat-stroked-button>Cancel</button>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>

  <div class="selectButton">
    <span *ngIf="dataChanged" class="warning">Your changes haven't been saved, you will lost your changes when you leave
      this page.</span>
    <button style="margin-right:20px;" mat-raised-button [disabled]='!authUser' (click)="saveList()"
      color="primary">Save All</button>
    <!-- Tooltip here -->
    <button mat-raised-button [disabled]='mySelection.length === 0' (click)="random()" color="primary">Select a
      restaurant for me!</button></div>
  <mat-card *ngIf="result">{{result}}</mat-card>
</div>